/*! root-styling */

:root {
  --blue: #1e90ff;
}
/*! refer all elements styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*! body styling */

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*! styling scrollbar */

::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--blue);
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
/*! app component styling */

.App {
  min-height: 100vh;
  transition: 0.4s;
}
/*! header styling */

header {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* styling background-image */
.background-image {
  background-image: url('https://plus.unsplash.com/premium_photo-1666299819315-929b3fae4450?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8aG9tZSUyMGFuZCUyMGtpdGNoZW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  background-position: center;
  min-height: 300px; /* Adjust the height as needed */
}
/*! main styling */

main {
  flex: 1;
  /* background-color: blue; */
  margin-bottom: 1.5rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}

/*! products styling */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*! product styling */

.product {
  border: 1px #333 solid;
  margin: 1rem;
}
/*! image styling */

.product img {
  width: 100%;
  max-width: 400px;
}
/*! product information styling  */

.product-info {
  padding: 1rem;
}

/*! product-screen-image */

.product-screen-image {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}

/*! styling signin */

.small-container {
  max-width: 600px;
}
.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/*! sidebar */

.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100vh;
  position: absolute;
  left: -300px;
  background-color: #100901;
  transition: 0.5s;
}

.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}

/*! Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}

button.thumbnail {
  padding: 0;
}
